@use '../../../Assets/sass/mixins.scss';
@use '../../../Assets/sass/vars.scss';
@use '../../../Assets/sass/keyframes.scss';

//& ----------------- Theme Projects
$themeProject: (
  light: (
    button-github: vars.$primary-color-03,
  ),
  dark: (
    button-github: vars.$secondary-color-05,
  ),
);

//~ ---------------------------------------------- Theme Site
@include mixins.themify($themeProject) {
  .project__container__global {
    &__link {
      background-color: mixins.themed('button-github');
    }
  }

}
