@use '../../../Assets/sass/mixins.scss';
@use '../../../Assets/sass/vars.scss';
@use '../../../Assets/sass/keyframes.scss';

//& ----------------- Theme Projects
$theme404: (
  light: (
    fill-notfound-structure: vars.$primary-color-03,
    fill-notfound-element: vars.$primary-color-03,
  ),
  dark: (
    fill-notfound-structure: vars.$secondary-color-05,
    fill-notfound-element: vars.$primary-color-01,
  ),
);

//~ ---------------------------------------------- Theme Site
@include mixins.themify($theme404) {

  .nf-circle-1,
  .nf-island-3 {
    fill: mixins.themed('fill-notfound-structure');
  }

  .nf-butterfly1-1,
  .nf-butterfly2-1,
  .nf-text-1,
  .nf-cloud1-2,
  .nf-cloud4-2 {
    fill: mixins.themed('fill-notfound-element');
  }
 
  // .media--mobile,
  // .media--tablet {

  // }
}
