@use '../../../Assets/sass/mixins.scss';
@use '../../../Assets/sass/vars.scss';
@use '../../../Assets/sass/keyframes.scss';
@use './theme.scss';

.nopage {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__container {
    margin: 0 auto;
    width: 600px;
    height: 600px;

    & > *:nth-child(1n) {
      width: 600px;
      height: auto;
    }

    &__island {
      position: absolute;
      top: 24rem;
    }

    &__water {
      margin: 4rem 0 0 0;
    }

    &__number {
      width: 600px;
      height: 600px;
      position: absolute;
      left: 50%;
      transform: translate(-38%, -50%);
      display: flex;
      flex-direction: row;

      & > *:nth-child(1n) {
        width: 600px;
        margin: 0 0.5rem;
        position: relative;
      }

      &__left,
      &__center,
      &__right {
        max-width: 20%;
        top: -28rem;
      }
    }

    &__cloud {
      position: absolute;
      left: 50%;
      transform: translate(-38%, -50%);
      display: flex;
      flex-direction: column;

      & > *:nth-child(1n) {
        width: 500px;
        position: relative;
      }

      &__one {
        @include mixins.positioning(100%, -42rem, 18rem);
      }

      &__two {
        @include mixins.positioning(75%, -36rem, -20rem);
      }

      &__three {
        @include mixins.positioning(50%, -38rem, 16.5rem);
      }

      &__four {
        @include mixins.positioning(45%, -35rem, -4rem);
      }
    }

    &__text {
      position: relative;
      @include mixins.positioning(50%, -40rem, 7.5rem);
    }

    &__moon {
      position: relative;
      @include mixins.positioning(28%, -56rem, 18rem);
    }

    &__butterfly {
      width: 600px;
      height: 600px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-38%, -50%);
      display: flex;
      flex-direction: row;

      & > *:nth-child(1n) {
        position: relative;
      }

      &__right {
        width: 5%;
        top: 7rem;
        left: 24rem;
      }
      &__left {
        width: 7%;
        top: 6rem;
        left: 0rem;
      }
    }
  }
}

//& ---------------------------------- MEDIA QUERY
@media screen and (max-width: 990px) {
  .nopage {
    &__container {
      width: 270px;
      height: 270px;

      & > *:nth-child(1n) {
        width: 270px;
        height: auto;
      }

      &__island {
        top: 12rem;
      }
      &__water {
        margin: 3rem 0 0 0;
      }

      &__number {
        position: absolute;
        left: 50%;
        transform: translate(-34%, -50%);
        display: flex;
        flex-direction: row;

        & > *:nth-child(1n) {
          width: 270px;
          margin: 0 0.2rem;
        }
        &__left,
        &__center,
        &__right {
          position: relative;
          max-width: 20%;
          top: -13.5rem;
        }
      }

      &__cloud {
        & > *:nth-child(1n) {
          width: 100%;
          position: relative;
        }

        &__one {
          @include mixins.positioning(50%, -19.8rem, 8rem);
        }
        &__two {
          @include mixins.positioning(60%, -18rem, -5rem);
        }
        &__three {
          @include mixins.positioning(40%, -18.8rem, 8.5rem);
        }
        &__four {
          @include mixins.positioning(45%, -18rem, -1rem);
        }
      }

      &__text {
        @include mixins.positioning(50%, -19rem, 4.5rem);
      }

      &__moon {
        @include mixins.positioning(28%, -26.5rem, 8.4rem);
      }

      &__butterfly {
        & > *:nth-child(1n) {
          position: relative;
          height: auto;
        }

        &__right {
          @include mixins.positioning(5%, 4.2rem, 10rem);
        }
        &__left {
          @include mixins.positioning(7%, 3.8rem, 0.2rem);
        }
      }
    }
  }
}
