@use '../../../Assets/sass/mixins.scss';
@use '../../../Assets/sass/vars.scss';
@use '../../../Assets/sass/keyframes.scss';
@use './theme.scss';

.nopage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(0.8);

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > *:nth-child(1n) {
      width: 500px;
    }

    &__island {
      position: absolute;
      top: 20rem;
    }

    &__water {
      position: absolute;
      top: 35rem;
    }

    &__number {
      position: absolute;
      left: 50%;
      transform: translate(-41%, -185%);
      display: flex;
      flex-direction: row;

      & > *:nth-child(1n) {
        width: 20%;
        margin: 0 0.5rem;
        position: relative;
      }
    }

    &__cloud {
      position: absolute;
      left: 50%;
      transform: translate(-38%, -50%);
      display: flex;
      flex-direction: row;

      & > *:nth-child(1n) {
        width: 100%;
        position: absolute;
      }

      &__one {
        @include mixins.positioning(90%, -24rem, 15rem);
      }

      &__two {
        @include mixins.positioning(85%, -25rem, -19rem);
      }

      &__three {
        @include mixins.positioning(50%, -31rem, 14.5rem);
      }

      &__four {
        @include mixins.positioning(45%, -31rem, -4rem);
      }
    }

    &__text {
      width: 100%;
      position: absolute;
      @include mixins.positioning(50%, 6.5rem, 5.5rem);
    }

    &__moon {
      width: 100%;
      position: absolute;
      @include mixins.positioning(28%, -5rem, 13.5rem);
    }

    &__butterfly {
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: row;

      & > *:nth-child(1n) {
        width: 100%;
        position: absolute;
      }

      &__right {
        @include mixins.positioning(5%, -10rem, 26.5rem);
      }
      &__left {
        @include mixins.positioning(7%, -11rem, 3.5rem);
      }
    }
  }
}

//& ---------------------------------- MEDIA QUERY
@media screen and (max-width: 990px) {
  .nopage {
    transform: scale(0.35);
    &__container {
      &__number {
        transform: translate(-35%, -184%);
      }

      &__text {
        @include mixins.positioning(50%, 6.5rem, 7.8rem);
      }
    }
  }
}
