@use '../../../Assets/sass/mixins.scss';
@use '../../../Assets/sass/vars.scss';
@use '../../../Assets/sass/keyframes.scss';
@use './theme.scss';

.logo {
  transition: all 0.35s ease-in-out;
  &__link {
    width: 4.5rem;
    text-decoration: none;
    font-weight: 900;
    font-size: 0.69rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  // &:hover {
  //   transition: all 0.25s ease-in-out;
  //   transform: translateY(-3px);
  // }

  &:active {
    transition: all 0s ease-in-out;
    opacity: 0.6;
  }
}

//~ Groupes
#logo {
  transition: all 0.4s ease-in-out;
}

#visual-koding {
  width: 8rem;
  position: relative;
  left: -1.7rem;
  top: 1rem;

}

.media {
  &--mobile {
   .logo{
    &__link{
      width: 3.5rem;
      margin-left: 1.5rem;
    }
   }
  }
}
