@use '../../Assets/sass/vars.scss';

.theme {
  margin: 0;
  display: flex;
  // transform: scale(0.77);

  &__button {
    // margin: 1.5rem;
    cursor: pointer;

    width: 2rem;
    height: 2rem;

    // inset => offset-x | offset-y | blur-radius | spread-radius | color
    box-shadow: inset 0.7rem -0.4rem 0 -0.2rem vars.$primary-color-01,
    0rem 0rem 0rem 0.2rem vars.$primary-color-01,
    0rem 0rem 0rem 0.5rem vars.$primary-color-03,
    0rem 0rem 0rem 0.6rem vars.$primary-color-01;

    appearance: none;
    border-radius: 7rem;
    transition: all 0.35s ease-in-out;

    &:checked {
 
      --orthogonal: calc(1rem * -0.89);
      --diagonal: calc(1rem * -0.89);
      
      // Une liste d'ombres, séparées par des virgules 
      // inset => offset-x | offset-y | blur-radius | spread-radius | color
      box-shadow: inset 0 0 0 1rem vars.$primary-color-01,
      0 0 0 0rem vars.$primary-color-03,
      
      // VERTICAL ELEMENT => HAUT
      0rem -1.1rem 0rem var(--orthogonal) vars.$primary-color-01,
      0rem -1.2rem 0rem var(--orthogonal) vars.$primary-color-01,
      0rem -1.3rem 0rem var(--orthogonal) vars.$primary-color-01,
      0rem -1.4rem 0rem var(--orthogonal) vars.$primary-color-01,
      
      // VERTICAL ELEMENT => BAS
      0rem 1.1rem 0rem var(--orthogonal) vars.$primary-color-01,
      0rem 1.2rem 0rem var(--orthogonal) vars.$primary-color-01,
      0rem 1.3rem 0rem var(--orthogonal) vars.$primary-color-01,
      0rem 1.4rem 0rem var(--orthogonal) vars.$primary-color-01,

      // HORIZONTAL ELEMENT => GAUCHE
      -1.1rem 0rem 0rem var(--orthogonal) vars.$primary-color-01,
      -1.2rem 0rem 0rem var(--orthogonal) vars.$primary-color-01,
      -1.3rem 0rem 0rem var(--orthogonal) vars.$primary-color-01,
      -1.4rem 0rem 0rem var(--orthogonal) vars.$primary-color-01,

      // HORIZONTAL ELEMENT => DROITE
      1.1rem 0rem 0rem var(--orthogonal) vars.$primary-color-01,
      1.2rem 0rem 0rem var(--orthogonal) vars.$primary-color-01,
      1.3rem 0rem 0rem var(--orthogonal) vars.$primary-color-01,
      1.4rem 0rem 0rem var(--orthogonal) vars.$primary-color-01,
      
      // DIAGONAL ELEMENT => HAUT-GAUCHE
      -0.8rem -0.8rem 0rem var(--diagonal) vars.$primary-color-01,  
      -0.85rem -0.85rem 0rem var(--diagonal) vars.$primary-color-01,  
      -0.9rem -0.9rem 0rem var(--diagonal) vars.$primary-color-01,  

      // DIAGONAL ELEMENT => BAS-GAUCHE
      -0.8rem 0.8rem 0rem var(--diagonal) vars.$primary-color-01,  
      -0.85rem 0.85rem 0rem var(--diagonal) vars.$primary-color-01,  
      -0.9rem 0.9rem 0rem var(--diagonal) vars.$primary-color-01,  

      // DIAGONAL ELEMENT => HAUT-DROITE
      0.8rem -0.8rem 0rem var(--diagonal) vars.$primary-color-01,  
      0.85rem -0.85rem 0rem var(--diagonal) vars.$primary-color-01,  
      0.9rem -0.9rem 0rem var(--diagonal) vars.$primary-color-01,  

      // DIAGONAL ELEMENT => BAS-DROITE
      0.8rem 0.8rem 0rem var(--diagonal) vars.$primary-color-01,  
      0.85rem 0.85rem 0rem var(--diagonal) vars.$primary-color-01,  
      0.9rem 0.9rem 0rem var(--diagonal) vars.$primary-color-01,  
      
      // 0 0 0 0.15rem vars.$primary-color-01,
    } 

    // &:hover{
      // transition: all 0.40s ease;
      // box-shadow: inset 0 0 0 1rem vars.$primary-color-01,
      // 0 0 0 0.3rem vars.$primary-color-02;
    // }

    &:active{
      transition: all 0.25s ease;
      transform: scale(0.8);
    }

  }

}
