@use '../../Assets/sass/vars.scss';

.theme {
  margin: 0;
  display: flex;

  &__button {
    cursor: pointer;

    width: 2rem;
    height: 2rem;

    // inset => offset-x | offset-y | blur-radius | spread-radius | color
    box-shadow: inset 0.7rem -0.4rem 0 -0.2rem vars.$primary-color-01;
    // 0rem 0rem 0rem 0.2rem vars.$primary-color-01,
    // 0rem 0rem 0rem 0.5rem vars.$primary-color-03,
    // 0rem 0rem 0rem 0.6rem vars.$primary-color-01;

    appearance: none;
    border-radius: 7rem;
    transition: all 0.25s ease-in-out;

    &:checked {
      --orthogonal: calc(1rem * -0.89);
      --diagonal: calc(1rem * -0.89);

      box-shadow: vars.$menu-burger-sun-shadow;
    }

    // &:hover{
    // transition: all 0.40s ease;
    // box-shadow: inset 0 0 0 1rem vars.$primary-color-01,
    // 0 0 0 0.3rem vars.$primary-color-02;
    // }

    &:active {
      transition: all 0.25s ease;
      transform: scale(0.8);
    }
  }
}

.media {
  &--mobile {
    .theme {
      height: 2.5rem;
      &__button {
        box-shadow: inset 0.7rem -0.4rem 0 -0.2rem vars.$primary-color-02;
        border: 0.3rem solid vars.$primary-color-01;
        background-color: vars.$primary-color-01;

        &:checked {
          border: 0.3rem solid vars.$primary-color-02;
          box-shadow: vars.$menu-burger-sun-shadow;
        }
      }
    }
    label {
      color: vars.$primary-color-01;
    }
  }
}
