@use '../../Assets/sass/mixins.scss';
@use '../../Assets/sass/vars.scss';



.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  & h1 {
    text-align: left;
    font-size: 3rem;
    font-weight: 800;
    margin: 0 1rem 2rem 1.8rem;

    &::before {
      content: '';
      margin-left: -1.5rem;
      margin-top: 0.2rem;
      position: absolute;
      width: 0.7rem;
      background-color: vars.$primary-color-04;
      height: 5.6rem;
      border-radius: 6rem;
    }
  }

  & p {
    text-align: justify;
    margin: 0 1.8rem;
    line-height: initial;
  }

  &__contain__left {
    margin: 0 auto;
    max-width: 25.5rem;
  }

  &__contain__right {
    margin: 0 auto;
    position: relative;
    width: 80%;
    max-width: 35rem;

    &__elements {
      margin: 0 auto;
      position: relative;
      width: 80%;

      & .element-svg {
        transform: scale(1.2);

        & .surface-2 {
          fill: vars.$primary-color-02;
        }
      }

      & :nth-child(2) {
        position: absolute;
        top: 12%;
        bottom: 12%;
        left: 12%;
        right: 12%;
        z-index: 2;
      }

      & :nth-child(3) {
        position: absolute;
        width: 40%;
        top: 60%;
        left: 85%;
        z-index: 3;
      }

      & :nth-child(4) {
        position: absolute;
        width: 45%;
        left: -15%;
        top: 70%;
        z-index: 4;
      }

      & :nth-child(5) {
        position: absolute;
        width: 50%;
        left: -38%;
        top: -5%;
        z-index: 5;
      }

      & :nth-child(6) {
        position: absolute;
        width: 15%;
        left: 10%;
        top: 17%;
        z-index: 6;
      }

      & :nth-child(7) {
        position: absolute;
        width: 15%;
        left: 6%;
        top: 29%;
        z-index: 7;
      }

      & :nth-child(8) {
        position: absolute;
        width: 18%;
        right: 4%;
        top: 45%;
        z-index: 8;
      }

      & :nth-child(9) {
        position: absolute;
        width: 18%;
        left: 44%;
        top: 83%;
        z-index: 9;
      }

      & :nth-child(10) {
        position: absolute;
        width: 100%;
        left: 49%;
        top: 66%;
        z-index: 2;
      }

      & :nth-child(11) {
        position: absolute;
        width: 100%;
        left: 49%;
        top: 75%;
        z-index: 2;
      }

      & :nth-child(12) {
        position: absolute;
        width: 100%;
        left: 55%;
        top: -10%;
        z-index: 2;
      }
    }
  }
}

.gate-2 {
  opacity: 0.1;
}

.media {
  &--mobile {
    .home {
      display: grid;
      grid-template-columns: 1fr;

      & h1 {
        margin: auto;
      }

      & p {
        margin: 2rem 0;
      }

      &__contain__left {
        margin: 2rem auto;
        max-width: 18rem;
      }

      &__contain__right {
        width: 60%;
      }
    }
  }

  &--tablet {
    .home {
      display: grid;
      grid-template-columns: 1fr;

      & p {
        margin: 2rem 1.8rem;
      }

      &__contain__left {
        margin: 0 auto;
      }
      &__contain__right {
        width: 60%;
      }
    }
  }
}
