@use '../../Assets/sass/vars';

.logo {
  transition: all 0.35s ease-in-out;
  &__link {
    width: 3.5rem;
    text-decoration: none;
    font-weight: 900;
    font-size: 0.69rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  // &:hover {
  //   transition: all 0.25s ease-in-out;
  //   transform: translateY(-3px);
  // }

  &:active {
    transition: all 0s ease-in-out;
    opacity: 0.6;
  }
}

//~ Groupes
#logo-svg {
  transition: all 0.4s ease-in-out;
}

//& Groupement de fragments en haut du logo
// .cls-1{
// }

// //? Fragment Externe
// #cls-1-1{
// }

// //? Fragment Interne Gauche
// #cls-1-2{
// }

// //? Fragment Interne Droite
// #cls-1-3{
// }

//& Groupement de fragments à droite du logo
// .cls-2{
// }

// //? Fragment Externe
// #cls-2-1{
// }

// //? Fragment Interne
// #cls-2-2{
// }

//& Le fond du logo
// .cls-3{
//   transition: all 0.4s ease-in-out;
// }

//& Groupement de fragments à gauche du logo
// .cls-4{
// }

// //? Fragment Externe
// #cls-4-1{
// }

// //? Fragment Interne
// #cls-4-2{
// }

//& Groupement de fragments central du logo
// .cls-5{
// }

// //? Fragment Haut
// #cls-5-1{
// }

// //? Fragment Droite
// #cls-5-2{
// }

// //? Fragment Gauche
// #cls-5-3{
// }

#visual-koding {
  width: 8rem;
  position: relative;
  left: -1.7rem;
  top: 1rem;

  .cls-1 {
    fill: #242c3f;
  }

  .cls-2 {
    fill: #8309ff;
  }
}

.media {
  &--mobile {
   .logo{
    &__link{
      width: 3.5rem;
    }
   }
  }

  // &--tablet {
  // }

  // &--desktop {
  // }
}
