@use './vars.scss';

// @keyframes bounce-in {
//   0% {
//     transform: scale3d(1, 1, 1);
//   }
//   50% {
//     transform: scale3d(1.1, 0.95, 1);
//   }
//   65% {
//     transform: scale3d(1, 0.75, 1);
//   }
//   75% {
//     transform: scale3d(0.95, 0.95, 1);
//   }
//   100% {
//     transform: scale3d(1, 1, 1);
//   }
// }

@keyframes draw {
  0% {
    stroke-dashoffset: 1100;
    fill-opacity: 0;
    
  }
  80%{
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@keyframes line-dasharray {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0% {
    fill: transparent;
  }

  100% {
    fill: vars.$primary-color-04;
  }
}

@keyframes filling-bis {
  0% {
    fill: transparent;
  }

  100% {
    fill: vars.$primary-color-03;
  }
}