@use './mixins.scss';
@use './vars.scss';

//! QUERIFY

//? ---------------------------------------------- MEDIA QUERIES
@include mixins.querify(vars.$mediaHeader) {
  background-color: mixins.mediaQuery('test') !important;
  .header {
    &__container {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      align-items: center;
    }
  }
  ul {
    font-size: mixins.mediaQuery('ul-font-size');
    text-align: mixins.mediaQuery('ul-text-align');
    display: mixins.mediaQuery('ul-display');
  }
}
