@use './mixins.scss';
@use './vars.scss';
@use './themes.scss';
@use './reset.scss';

:root {
  font-family: vars.$font-Nunito;
  background-color: vars.$primary-color-01;
  scroll-behavior: smooth;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
  user-select: none;
  // cursor: url(../img/customCursorDefault.svg) 7 4, default;
}


label {
  width: 3rem;
  font-family: vars.$font-Nunito;
  font-weight: 900;
  user-select: none;
  height: 2.95rem;
  line-height: 2.35rem;
  margin-left: 1rem;
  cursor: pointer;
}
